
.currencyinput {
border: 1px ;
color: white;
}
.currencyinput input {
border: 0;
}
.App {
  text-align: center;
  background-color:#E9E9E9;
}
.outertable {
    vertical-align : "center";
    width : "40%" ;
}

.table1
{
   border:"1";
   background-color: "#E9E9E9";
   vertical-align :"center";
   border-spacing:"8";
   padding: "8";
   width:"80%";
}

.table2 {
    border :"0";
    background-color: white;
    height:50%;
    vertical-align:middle;
    border-spacing:"8";
    padding:"8";
    width :"48%";
}

.left-inner-addon {
position: center;
text-align:center;
}
.left-inner-addon input {
padding-left: 22px;
}
.left-inner-addon span {
position: absolute;
padding: 2px 5px;
pointer-events: none;
text-align: center;
}

.right-inner-addon {
position: relative;
}
.right-inner-addon input {
padding-right: 30px;
}
.right-inner-addon span {
position: absolute;
right: 0px;
padding: 7px 12px;
pointer-events: none;
text-align: center;
}
